@import '../../question/question-list.shared.less';
@import '../../question/index.less';

.uc-favorite {
  min-height: 100vh;
  background: #f5f5f5;
  box-sizing: border-box;
}

.search-section {
  padding-top: 8rpx;
}
